# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


# Emacs files
*~
*\#

/hw1/graph.s
/hw1/graph_flymake_master.s
/hw1/inputscanner.s
/hw1/tests.s
