# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


# Emacs files
*~
*\#

/hw1/graph.s
/hw1/graph_flymake_master.s
/hw1/inputscanner.s
/hw1/tests.s
/hw1/graph_flymake.s
/hw1/inputscanner_flymake.s
/hw1/tests_flymake.s
/hw1/tests_flymake_master.s
/hw1/tsgraph_flymake.s
/hw1/tsgraph_flymake_master.s
/hw1/main_flymake.s
/hw1/code/main_flymake.s
/hw1/scripts/.txt
/hw1/writeup/_region_.tex
